[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true


[packages]
tensorflow = "==2.0.0-rc1"
jupyter-tensorboard = "*"
ipython = "*"
pytest = "*"
opencv-python = "==3.2.0.6"
jupyter = "*"
matplotlib = "*"
pandas = "*"
torch = "*"
torchvision = "*"
numpy = "==1.16.4"
pillow = "*"
scipy = "*"
nltk = "*"
tqdm = "*"
scikit-learn = "*"
scikit-image = "*"
seaborn = "*"
pycocotools = "*"
cython = "*"
requests = "*"

[requires]
python_version = "3.6"
